<div id="header">
<%=link_to 'Sign In', users_signin_path, class: 'btnSignIn'%>
<%=link_to 'Profile', users_profile_path, class: 'btnProfile'%>


</div>
<div class="clearfix">
<div>
<h1>Hello#index</h1>
<h1><%=hello%>
<p>Find me in app/views/hello/index.html.erb</p>
</div>

