// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.avatar {
    margin-top: 10px;
}
#left-col{
    background: linear-gradient(to bottom right, #008080 0%, #00b3b3 100%);
    text-align: center;
    color:white;
    padding-top: 10px;
    #contact{
        text-align: center;
    }
    #skill-set label{
        display: block;
    }
    #contact .cv-link{
        color: wheat
    }
    #skill-set .progress-bars{
        padding: 0 10px;
        
        progress {
            border-radius: 7px; 
            width: 80%;
            height: 16px;
            
            box-shadow: 1px 1px 4px rgba( 0, 0, 0, 0.2 );
          }
          progress::-webkit-progress-bar {
            background-color: white;
            border-radius: 7px;
          }
          progress::-webkit-progress-value {
            background: linear-gradient(to right, #ffb3b3, #e60000);
            border-radius: 7px;
          
          }
          
    }
}
#right-col{
    padding: 50px 40px 20px 40px;
    background-color: #f9f5d2;
    color: #404040;
    text-align: justify;

    a{
        text-decoration: none;
        font-weight: 400;
    }
    a:hover{
        color:darkcyan;
        font-weight: bold;
    }
    h1{
        color: darkcyan;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    p{
        font-weight: 500;
        font-size: 1.1em;
    }
    li{
        list-style-type: '- ';
        line-height: 1.5;
    }
    .horizontal-line{
        background-color: darkcyan;
        height: 2px;
    }
    .role{
        font-weight: bold;
        font-style: oblique;
    }
    .goal{
        font-style: italic;
        font-weight: 400;
    }
}