// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.avatar {
    border-radius: 50%;
    margin-top: 10px;
}
#left-col{
    background: linear-gradient(to bottom right, #008080 0%, #00b3b3 100%);
    text-align: center;
    color:white;
    padding-top: 10px;
    #contact{
        text-align: center;
    }
    #skill-set label{
        display: block;
    }
    #contact .cv-link{
        color: wheat
    }
    #skill-set .progress-bars{
        padding: 0 10px;
        
        progress {
            border-radius: 7px; 
            width: 80%;
            height: 16px;
            
            box-shadow: 1px 1px 4px rgba( 0, 0, 0, 0.2 );
          }
          progress::-webkit-progress-bar {
            background-color: white;
            border-radius: 7px;
          }
          progress::-webkit-progress-value {
            background: linear-gradient(to right, #ffb3b3, #e60000);
            border-radius: 7px;
          
          }
          
    }
}
#right-col{
    padding: 20px 0 0 20px;
}