<div class='picture-frame'>
    <%= image_tag 'avatar.jpg', class: 'avatar w-75', alt: 'My avatar' %>
    <h2 class='font-weight-bold text-uppercase text-center'>Huynh Chi Tin</h2>
</div>

<div id='contact'>
    <h2>Phone number</h2>
    <p>0986562460</p>
    <h2>Email</h2>
    <p>huynhchitin28071995@gmail.com</p>
    <h2>Address</h2>
    <p>36 Bo Bao Tan Thang, Son Ky ward, Tan Phu district</p>
    <h2>Online CV</h2>
    <a href="https://tin-cv.herokuapp.com/" class="cv-link">https://tin-cv.herokuapp.com/</a>
</div>
<div id='interest'>
    <h2>Interest</h2>
    <p>Reading tech news, software development books.</p>

</div>
<div id='skill-set'>
        <h2>Skill set</h2>
        <div class='progress-bars'>
        <label for="java">Java Core + Spring MVC + MySQL + Hibernate</label>
            <progress id="java" value="70" max="100"> 70% </progress> 
        <label for="ruby-on-rails">Ruby On Rails</label>
            <progress id="ruby-on-rails" value="15" max="100"> 15% </progress>
        <label for="html/css">HTML/CSS</label>
            <progress id="html/css" value="70" max="100"> 70% </progress>
        <label for="c++">C++</label>
            <progress id="c++" value="40" max="100"> 40% </progress>
        <label for="english">English</label>
            <progress id="c++" value="80" max="100"> 80% </progress>
        <label for="soft-skills">Soft skills</label>
            <progress id="soft-skills" value="85" max="100"> 80% </progress>
        </div>
</div>
