<div>
    <h1>HUỲNH CHÍ TÍN</h1>
    <p>Fresher Java developer</p>
    <p>My goals: Train to be a proficient in Java Core and have sufficient knowledge in web development related technologies and computer science</p>
</div>
<div>
<h1>PROFILE</h1>
    <p>Career changer. From Finance and Banking major to Computer Science.</p>
    
</div>
<div>
    <h1>ACADEMIC</h1>
    <p>Learn Java in a course of university of science. 120 hours of studying at school and many at home.</p>
</div>
<div>
<h1>CAREER + EXPERIENCE</h1>
<p>Some projects and exercises using Java 1.8 during school with Eclipse IDE:</p>
    <ul>
        <li>Minishop written with Servlet</li>
        <li>Minishop written on Spring framework</li>
        <li>PhuongPerfumeMau</li>
        <li>QLBanSuaSE</li>
    </ul>
    <p>Front-end project: DoAnCoffeeShop</p>
</div>
