<div>
    <h1>HUỲNH CHÍ TÍN</h1>
    <p class='role'>Fresher Java developer</p>
    <p class='goal'>Professional goal: Train to be a proficient in Java Core and have sufficient knowledge in web development related technologies and computer science</p>
</div>
<hr>
<div>
<h1>PROFILE</h1>
    <p>Career changer. From Finance and Banking major to Computer Science.</p>
    
</div>
<div>
    <h1>ACADEMIC</h1>
    <p>Bachelor Degree in Finance and Banking from Ho Chi Minh City University of Food Industry</p>
    <p>Enroll Java Developer course at university of science. 120 hours of studying at school and many at home.</p>
</div>
<div>
<h1>CAREER + EXPERIENCE</h1>
<p>From 01/01/2018 to 30/06/2020: A staff at People's Committee of Phu Tho Hoa ward, Tan Phu district, in charge of household bussinesses' administration</p>
<p>Some Back-end projects and exercises using Java 1.8, MySQL database during school with Eclipse IDE:</p>
    <ul>
        <li>Minishop written with Servlet, JSP, Hibernate</li>
        <li>Minishop written on Spring framework, with Spring Web MVC, Spring Tiles, Spring Security</li>
        <li>PhuongPerfumeMau</li>
        <li>QLBanSuaSE</li>
    </ul>
<p>Front-end project: DoAnCoffeeShop</p>
<ul>
    <li>
        Original template: 
    </li>
    <li>
        Image sources:
    </li>
</ul>
</div>
