<div class="title">
    <h1>HUYNH CHI TIN</h1>
    <p class='role'>Fresher Java developer</p>
    <p class='goal'><span style='font-weight: bold;'>Professional goal:</span> Train to be a proficient in 
        Java Core and have sufficient knowledge in web development related technologies and computer science.</p>
</div>
<hr class="horizontal-line">
<div class="introduction">
<h1>INTRODUCTION</h1>
    <p>I am a career changer, from Finance and Banking major to Computer Science. <br>
    Visit my facebook page to know more about me: 
    <a href="https://www.facebook.com/huynhchitin28071995/"><br> 
        facebook.com/huynhchitin28071995/</a><br>
    Visit my github repo to view my projects: 
    <a href="https://github.com/huynhchitin28071995/ITKHTN"><br> 
        github.com/huynhchitin28071995/ITKHTN</a>
    </p>
</div>
<hr class="horizontal-line">
<div>
    <h1>ACADEMIC</h1>
    <p>Bachelor Degree in Finance and Banking from the Ho Chi Minh City University of Food Industry.</p>
    <p>Learned Basic C++ at Green Academy.</p>
    <p>Learned Data Structure and Algorithm with C++ at the University of Science, the main
        data structure studied is List.</p>
    <p>Enrolled Java Developer course at university of science. 120 hours of studying at
     school and many at home to learn: </p>
    <ul>
        <li>Object Oriented Programming.</li>
        <li>How to work with Eclipse IDE.</li>
        <li>How to build GUI app with Swing.</li>
        <li>Java Core: Lambda Expression, Stream API, working with JSON, 
            XML, Design Pattern, Regular Expression.</li>
        <li>How to work with MySQL database.</li>
        <li>Web technologies: Servlet, JSP, MVC model, Hibernate ORM framework, AJAX. </li>
        <li>Spring MVC Framework, Apache Tiles, Spring JDBC, Spring Form, 
            Spring Interceptor, Spring REST, Spring Security.</li>
    </ul>
    <p>Learned front-end web development at Green Academy:</p>
    <ul>
        <li>HTML5, CSS3, Bootstrap, JQuery and JavaScript.</li>
    </ul>
    <p>Currently studying Ruby On Rails at Green Academy and acquired some new skills:</p>
    <ul>
        <li>Version control with git.</li>
        <li>Working with Linux OS (Ubuntu 18.04, 20.04).</li>
        <li>Ruby On Rails basics.</li>
        <li>Working with SCSS file.</li>
        <li>Deploying a Ruby On Rails app to Heroku.</li>
    </ul>
    <p>Some self-learning in progress: </p>
    <ul>
        <li>Effective Java.</li>
        <li>Data Structure and Algorithm made easy in Java.</li>
        <li>Building secure and reliable systems.</li>
    </ul>
</div>
<hr class="horizontal-line">
<div class="career-exp">
<h1>CAREER + EXPERIENCE</h1>
<p>From 01/01/2018 to 30/06/2020: <span style="font-weight: 400;"> A staff at People's Committee of Phu Tho Hoa ward, Tan Phu district, 
    in charge of household bussinesses' administration.</span></p>
<p>Some Back-end projects and exercises using Java 1.8, MySQL database during school with Eclipse IDE:</p>
    <ul>
        <li>MiniShopMVC project written with Servlet, JSP, Hibernate.</li>
        <li>MiniShopMVC project written on Spring MVC framework, Spring Tiles, Spring Security.</li>
        <li>PhuongPerfumeMau, QLBanSuaSE exercises to practice building cart, sign in, sign out, view new product feature with JSP, Servlet, MySQL database.</li>
    </ul>
<p>Front-end project: DoAnCoffeeShop:</p>
<ul>
    <li>
        Original template: <a href="https://html.design/download/live-dinner-restaurant-template/"> https://html.design/download/live-dinner-restaurant-template/</a>
    </li>
</ul>
</div>
<hr class="horizontal-line">
