<div>
    <h1>HUỲNH CHÍ TÍN</h1>
    <p>Java developer</p>
    <p>My goals: Proficient in Java Core, sufficient knowledge in related technologies and computer science</p>
</div>
<div>
<h1>PROFILE</h1>
</div>
<div>
<h1>CAREER</h1>
</div>
<div>
<h1>ACADEMIC</h1>
</div>
<div>
<h1>EXPERIENCE</h1>
</div>